Django==4.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djoser==2.2.0
drf_spectacular==0.26.2
django_filter==23.1
django-cors-headers==4.0.0
django-environ==0.10.0
factory_boy==3.2.1
coverage==6.4.4
black==23.3.0
django-debug-toolbar==4.1.0
psycopg2-binary==2.9.6